In [34]:
t=(1,2,3, 'a','bb','a') # 수정불가 튜풀 # 용도, 함수의 리턴이 복수일때 튜플 변환
t

(1, 2, 3, 'a', 'bb', 'a')

In [35]:
t.count(1)

1

In [36]:
t.index('a')

3

In [26]:
s = set(t)
s

{1, 2, 3, 'a', 'bb'}

In [37]:
i = list(s)
i

[1, 2, 3, 'a', 'bb']

In [41]:
list(t),set(t),tuple(t)

([1, 2, 3, 'a', 'bb', 'a'], {1, 2, 3, 'a', 'bb'}, (1, 2, 3, 'a', 'bb', 'a'))

In [82]:
def add_3(a, b=10, c=20) : #함수만들기
    '''
    문서화 : 이 함수는 값 3개를 더해서 리턴 한다
    작성자 : Park 2019.0612
    '''
    return a+b+c

In [91]:
add_3(a=2,b=11), add_3(1,2,3)

(33, 6)

In [56]:
#return 없는 함수
import math
def check_nan(x):
    if math.isnan(x) : # nan : not a number 숫자가 아니다. 0으로 나누거나 할때 발생
        print(x, '는 nan입니다')
    else :
        print(x,'는 숫자입니다')

In [93]:
check_nan(11/1)

11.0 는 숫자입니다

In [95]:
#클래스 정의, 인스턴스 생성 사용

In [2809]:
import random
class Lotto:
    '''
    1~45 까지  6개 마쳐
    '''
    def __init__(self) :
        print("생성자")
        self.target = [] #self 전역변수 됨
        for i in range(6) :
            v=random.randint(1,45)
            while(v in self.target):
                v=random.randint(1,45)
            self.target.append(v)
        print(self.target)
    
    def select(self, nums) :
        count=0
        dab=0
        for dab in nums :
            if self.target.count(dab) > 0:
                count+=1
        if count==6 :
            print("와우 다맞춤")

        else :
            print('정답', self.target, '너는', nums, '맞춘거는', count, '개')

In [3117]:
lotto1 = Lotto() # 인스턴스 생성
lotto1.select([3,15,16,24,31,33])
my_nums = [[31,2,11,40,33,25],[22,31,44,2,6,13],[44,32,25,26,27,18],[41,30,22,21,13,5],[5,19,17,28,29,10]]
len(my_nums), my_nums[0]
for i in range(len(my_nums)):
    lotto1.select(my_nums[i])

생성자
[24, 34, 14, 2, 41, 35]
정답 [24, 34, 14, 2, 41, 35] 너는 [3, 15, 16, 24, 31, 33] 맞춘거는 1 개
정답 [24, 34, 14, 2, 41, 35] 너는 [31, 2, 11, 40, 33, 25] 맞춘거는 1 개
정답 [24, 34, 14, 2, 41, 35] 너는 [22, 31, 44, 2, 6, 13] 맞춘거는 1 개
정답 [24, 34, 14, 2, 41, 35] 너는 [44, 32, 25, 26, 27, 18] 맞춘거는 0 개
정답 [24, 34, 14, 2, 41, 35] 너는 [41, 30, 22, 21, 13, 5] 맞춘거는 1 개
정답 [24, 34, 14, 2, 41, 35] 너는 [5, 19, 17, 28, 29, 10] 맞춘거는 0 개